---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---

<ul class="tag_box inline">
  {% if site.tags.first[0] == null %}
    {% for tag in site.tags %} 
    	<li><a href="{{ site.baseurl }}{{ site.tags_path }}#{{ tag }}-ref">
    		{{ tag }} <span>{{ site.tags[tag].size }}</span></a></li>
    {% endfor %}
  {% else %}
    {% for tag in site.tags %} 
    	<li><a href="{{ site.baseurl }}{{ site.tags_path }}#{{ tag[0] }}-ref">
    		{{ tag[0] }} <span>{{ tag[1].size }}</span></a></li>
    {% endfor %}
  {% endif %}
</ul>


{% for tag in site.tags %} 
  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
  <ul>
    {% assign pages_list = tag[1] %}  
    {% include pages_list.html %}
  </ul>
{% endfor %}
