<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->
    <!-- <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet"> -->
    <link href="{{ ASSET_PATH }}/css/bigfoot-default.css" rel="stylesheet" type="text/css" media="all">

    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link href="{{ ASSET_PATH }}/css/syntax.css" rel="stylesheet" type="text/css" media="all">

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/bigfoot.min.js"></script>
    {% comment %} Google Fontz!! {% endcomment %}
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Inconsolata:400,700' 
      rel='stylesheet' type='text/css'>

    {% raw %}
    <script type="text/javascript">
      var footnote = $.bigfoot({
        buttonMarkup: "<div class='bigfoot-footnote__container'> <button class=\"bigfoot-footnote__button\" id=\"{{SUP:data-footnote-backlink-ref}}\" data-footnote-number=\"{{FOOTNOTENUM}}\" data-footnote-identifier=\"{{FOOTNOTEID}}\" alt=\"See Footnote {{FOOTNOTENUM}}\" rel=\"footnote\" data-bigfoot-footnote=\"{{FOOTNOTECONTENT}}\"> {{FOOTNOTENUM}} </button></div>",
        numberResetSelector: ".post"
      });
    </script>
    {% endraw %}

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    {% comment %}
    <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          </div>

          <div class="navbar-collapse" id="lolcollapse">
            <ul class="nav navbar-nav">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% include JB/pages_list %}
            </ul>
          </div>
        </div>
    </nav>
    {% endcomment %}
    <div class="container">
      <div class="row pre-header">
        <div class="col-md-12">
          <div class="above"></div>
          <div class="inner">
            {% if page.is_homepage %}
              —
            {% else %}
              <a href="{{ site.baseurl }}/">—</a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="row header-title">
        <div class="col-md-12">
          <h2>Hi, I'm 
          {% if page.is_homepage %}
          Alex Pretzlav
          {% else %}
          <a href="{{ site.baseurl }}/">Alex Pretzlav</a>
          {% endif %}
          </h2>
          <p>I write apps for humans, love to cook, and tinker with electronics. I live in Austin, TX.</p>
          <ul>
            <li><a href="https://twitter.com/apretz">@apretz</a></li>
            <li><a href="https://github.com/Pretz">github</a></li>
            <li><a href="http://apretz.tumblr.com">tumblr</a></li>
          </ul>
        </div>
      </div>

      {{ content }}

      <div class="row">
        <footer class="col-md-12">
          <p>&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}.<br>
            This site started with <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a> and <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a> and evolved from there.
          </p>
        </footer>
      </div>

    </div>

    {% include JB/analytics %}
  </body>
</html>
